:root {
    --col-01: #f8f8f8;
    --col-02: #080808;
    --col-03: #202020;
}
body {
    color: var(--col-01);
    background: var(--col-02);
    font-family: monospace;
}
#slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
pre, h3, hr {
    text-align: center;
}
pre {
    font-size: 1.8vw;
    margin-bottom: 0px;
}
h3 {
    margin-bottom: 20px;
}
hr {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}
form {
    width: 420px;
    margin: auto;
}
.vr {
    display: flex;
    align-items: center;
    margin: 10px;
}
label {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align: left;
}
.unit {
    opacity: 0.7;
    font-style: italic;
}
#top {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}
input[type=button]:hover {
    cursor: pointer;
    font-size: large;
}
input[type=button] {
    display: block;
    font-weight: bold;
    font-size: medium;
    padding: 10px 20px 10px;
    margin: 30px auto 40px;
}
input[type=button]:active {
    background-color: var(--col-03);
}
input, select {
    color: var(--col-01);
    border-color: var(--col-01);
    border-style: solid;
    padding: 5px;
    background-color: var(--col-02);
}
select {
    width: 200px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.hide {
    display: none !important;
}
#graph {
    position: relative;
}
#menu {
    position: absolute;
    top: 30px;
    left: 480px;

    z-index: 2;
    padding: 6px 10px;
    font-family: monospace;
    background: var(--col-02);
    color: var(--col-01);
    border: 2px solid var(--col-01);
}
#float, #move {
    width: 25px;
    height: 25px;
    margin: 3px 0px 3px;
    color: var(--col-01);
    background: var(--col-02);
    border: 2px solid var(--col-03);
}
#graph-items.hide {
    display: none;
}
#graph-items {
    display: block;
    position: absolute;
    top: 65px;
    left: 481px;
    width: 20px;
    height: 59px;
    margin-bottom: 20px;
    align-content: center;

    z-index: 2;
    padding: 0px 8px 3px 3px;
    /* top right bottom left */
    font-family: monospace;
    background-color: var(--col-02);
    color: var(--col-01);
    border: 2px solid var(--col-01);
}
#graph.floating {
    position: fixed;
    top: 0px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}
#graph.xPos {
    left: 62vw;
}
#graph.yPos {
    top: 24vw;
}
#thumb {
    margin-top: -17px;
    z-index: 1;

    --s: 50px; /* the size on the corner */
    --t: 3px;  /* the thickness of the border */
    --g: 50px; /* the gap between the border and image */
    
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid var(--col-01); /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        conic-gradient(#000 0 0) content-box;
    transition: .4s;
}
#thumb:hover {
    outline-offset: calc(-1*var(--g));
}
#thumb-txt {
    display: grid;
    place-items: center;
    height: 200px;
    width: 400px;
    font-size: large;
    /* border: 3px solid green; */
}
canvas {
    z-index: 0;
}
table {
    width: 1300px;
    margin: 30px auto;
    padding: 10px;
    table-layout: fixed;
    text-align: left;
    border: 2px solid var(--col-01);
}
tr:nth-child(even) {
    background-color: var(--col-03);
}
th {
    padding-bottom: 8px;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
u {
    border-bottom: 1px dashed var(--col-01);
    text-decoration: none;
}
.tooltiptext {
    visibility: hidden;
    background-color: var(--col-02);
    color: var(--col-01);
    text-align: center;
    padding: 5px 0;
    border: 1px solid var(--col-01);
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    padding-inline: 2px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}
.tooltiptext.top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}
.tooltiptext.left {
    top: 50%;
    transform: translateY(-50%);
    right: 105%;
    margin-right: 5px;
}
.tooltiptext::after {
    content: " ";
    position: absolute;
    border-style: solid;
}
.tooltiptext.top::after {
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-color: var(--col-01) transparent transparent transparent;
}
.tooltiptext.left::after {
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -7px;
    border-width: 7px;
    border-color: transparent transparent transparent var(--col-01);
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}